{% extends 'railSimulator/base.html' %}
{% load static %}

{% block content %}
    <h1>RAILSYS</h1>
    <div class="container">
        <div class="panel" style="margin-bottom: 40px;">
            <h2>Timetable Generator</h2>
            <form method="post">
                {% csrf_token %}
                <label>Trip (Nº of stations): <input type="number" id="trip" name="trip"></label>
                <label>Start Hour (HH:mm): <input type="text" id="startHour" name="startHour"></label>
                <label>End Hour (HH:mm): <input type="text" id="endHour" name="endHour"></label>
                <label>Lines: <input type="number" id="lines" name="lines"></label><br>
                <label>Lower minute margin (minutes): <input type="number" id="lMargin" name="lMargin"></label>
                <label>Higer minute margin (minutes): <input type="number" id="hMargin" name="hMargin"></label>
                <label>Security Margin (minutes): <input type="number" id="secuMargin" name="secuMargin"></label>
                <button type="submit">Submit</button>
            </form>
        </div>
        <!-- Formulario Capacidad -->
        <details>
            <summary style="font-weight: bold; font-size: 18px; cursor: pointer;">Capacity</summary>
                <div class="panel" style="margin-bottom: 40px;">
                    <h2>Capacity Calculator</h2>
                    <form method="post" action="{% url 'generate_capacity' %}">
                        {% csrf_token %}
                        <label>Station Origin (A-Z): <input type="text" id="stationOrg" name="stationOrg"></label>
                        <label>Station End (A-Z): <input type="text" id="stationEnd" name="stationEnd"></label>
                        <label>Start Hour (HH:mm): <input type="text" id="startHourCapacity" name="startHourCapacity"></label>
                        <label>End Hour (HH:mm): <input type="text" id="endHourCapacity" name="endHourCapacity"></label>
                        <button type="submit">Submit</button>
                    </form>

                    {% if ocupation %}
                        <div style="margin-top: 20px;">
                            <strong>Capacidad calculada:</strong>
                        </div>

                        <div style="margin-top: 10px; width: 100%; max-width: 400px;">
                            <div style="
                                background-color: #eee;
                                border-radius: 8px;
                                overflow: hidden;
                                box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
                            ">
                                <div style="
                                    width: {{ ocupation }}%;
                                    background-color: {% if ocupation < 60 %}#4caf50{% elif ocupation < 85 %}#ffc107{% else %}#f44336{% endif %};
                                    height: 24px;
                                    text-align: center;
                                    color: white;
                                    font-weight: bold;
                                    line-height: 24px;
                                    transition: width 0.5s;
                                ">
                                    {{ ocupation }}%
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </details>
    </div>
    
    <div style="display: flex; align-items: flex-start; gap: 20px;">

    <!-- Tabla -->
    <details class="table">
        <summary style="font-weight: bold; font-size: 18px; cursor: pointer;">Ver tabla de horarios</summary>
        <table border="1">
            <thead>
                <tr>
                    <th>Linea</th>
                    <th>Stations</th>
                    <th>Departure Times</th>
                    <th>Arrival Times</th>
                </tr>
            </thead>
            <tbody>
                {% for line in train_lines %}
                <tr>
                    <td>{{ line.Linea }}</td>
                    <td>
                        {% if line.Stations %}
                            {{ line.Stations|join:", " }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if line.Departures %}
                            <ul>
                            {% for hora in line.Departures %}
                                <li>{{ forloop.counter }}. {{ hora }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if line.Arrivals %}
                            <ul>
                            {% for hora in line.Arrivals %}
                                <li>{{ forloop.counter }}. {{ hora }}</li>
                            {% endfor %}
                            </ul>
                        {% else %}
                            -
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>

    <!-- Imagen a la derecha -->
    <div class="diagram" style="max-width: 1500px;">
        <img src="{% static 'img/diagrama.png' %}?v={{ timestamp }}" alt="Diagrama" style="width: 100%; height: auto; border: 1px solid #ccc;">
    </div>
</div>
{% endblock %}